<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="media">
          <img class="media-object pull-left" src="{{user.avatar(128)}}">
          <div class="media-body">
            <h1>{{user.nickname}}</h1>
            {% if user.about_me %}
            <p>{{user.about_me}}</p>
            {% endif %}
          </div>
        </div>
        {% if user.last_seen %}
        <p><i>Last seen on: {{momentjs(user.last_seen).calendar()}}</i></p>
        {% endif %}
        <p>{{user.followers.count()}} followers</p>
        {% if user.id == g.user.id %}
        <a href="{{url_for('edit')}}">
          <button type="button" class="btn btn-default">Edit your profile</button>
        </a>
        {% elif not g.user.is_following(user) %}
        <a href="{{url_for('follow', nickname=user.nickname)}}">
          <button type="button" class="btn btn-success">Follow</button>
        </a>
        {% else %}
        <a href="{{url_for('unfollow', nickname=user.nickname)}}">
          <button type="button" class="btn btn-danger">Unfollow</button>
        </a>
        {% endif %}
      </div>
      <div class="col-md-8">
      {% for post in posts.items %}
          {% include 'post.html' %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid">
    <ul class="pager">
      {% if posts.has_prev %}
      <li><a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">&larr; Newer</a></li>
      {% else %}
      <li class="disabled"><a href="#">&larr; Newer</a></li>
      {% endif %}
      {% if posts.has_next %}
      <li><a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Older &rarr;</a></li>
      {% else %}
      <li class="disabled"><a href="#">Older &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</footer>
{% endblock %}
